<section>
  <section class="profile">
    <h1 class="header-title">LO Rocks</h1>
    <div class="shooting-animation">
      <div class="night">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
      </div>

      <div class="night2">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
      </div>
    </div>
    <div class="profile-holder">
      <div class="col1">
        <div>
          <img
            src="./assets/img/theme/shivam.jpg"
            class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
            style="width: 150px"
          />
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Shivam Sharma</span><br />
              <small class="h6">MT20121</small><br />
              <small class="h6">shivam20121@iiitd.ac.in</small>
            </h5>
          </div>
        </div>
      </div>
      <div class="col1">
        <div>
          <img
            src="./assets/img/theme/vishal.jpg"
            class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
            style="width: 150px"
          />
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Vishal Deswal</span><br />
              <small class="h6">emp no</small><br />
              <small class="h6">vishal.deswal@nagarro.com</small>
            </h5>
          </div>
        </div>
      </div>
      <div class="col1">
        <div>
          <img
            src="./assets/img/theme/aakash.jpg"
            class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
            style="width: 150px"
          />
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Aakash Prasad</span><br />
              <small class="h6">emp no</small><br />
              <small class="h6">aakash.prasad@nagarro.com</small>
            </h5>
          </div>
        </div>
      </div>
      <div class="col1">
        <div>
          <img
            src="./assets/img/theme/dinesh.jpg"
            class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
            style="width: 150px"
          />
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Dinesh Sikder</span><br />
              <small class="h6">emp </small><br />
              <small class="h6">dinesh.sikder@nagarro.com</small>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
